.sky {
  background-image: linear-gradient(#950064 6%, #EA6531 28%, white 74%);
}

.cloud-frame {
  flex-basis: 50%;
  overflow: hidden;
  position: relative;

  .cloud {
    width: 128px;
    height: 23px;
    background: white;
    border-radius: 200px;
    position: absolute;
    top: 60px;
    left: 200px;
    border-bottom: #EF825A 4px solid;
  }

  .cloud:before, .cloud:after {
    content: '';
    background: white;
    width: 57px;
    height: 50px;
    position: absolute;
    top: -28px;
    left: 24px;
    border-radius: 100px;
    transform: rotate(30deg);
    border-bottom: #EF825A 4px solid;
  }

  .cloud:after {
    width: 63px;
    height: 63px;
    top: -40px;
    left: auto;
    right: 16px;
  }

  .cloud:nth-last-child(1) {
    top: 77px;
    left: -11px;
  }
}

