.window {
  height: 57px;
  width: 60px;
  display: flex;
  flex-direction: column;
  margin: 10px 0 40px 47px;

  & .top {
    border: black 2px solid;
    flex-basis: 6px;
    box-sizing: border-box;
    background-color: #4E4D5C;
  }

  & .middle {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;

    & .edge {
      background-color: #9691AB;
      border-left: black 2px solid;
      border-right: black 2px solid;
      flex-basis: 11%;
      box-sizing: border-box;
    }

    & .pane {
      background-color: #4F4C6F;
      flex-basis: 67%;
      border-top: #2E2C41 4px solid;
      border-right: #2E2C41 1px solid;
      border-left: #2E2C41 2px solid;
      overflow: hidden;
      position: relative;

      & .reflection {
        height: 4px;
        background-image: linear-gradient(transparent, #9B97B3);
        margin-top: 3px;
        transform: skewY(-45deg);
      }

      & .reflection:nth-last-child(1) {
        margin-top: 20px;
        height: 8px;
      }

      & .broken-pane-background {
        background-color: black;
        width: 49px;
        height: 38px;
        transform: rotate(60deg);
        position: absolute;
        z-index: 2;
      }

      & .shard {
        background-color: #4F4C6F;
        position: absolute;
        height: 40px;
        width: 30px;
        transform: skewY(119deg) rotate(-13deg);
        z-index: 3;
        bottom: -46px;
        right: 8px;
      }

      & #shard-two {
        bottom: 50px;
        left: 17px;
        transform: skewY(128deg);
      }
    }
  }

  & .over {
    width: 93%;
    border-top: black 2px solid;
    border-right: black 2px solid;
    border-left: black 2px solid;
    flex-basis: 3px;
    box-sizing: border-box;
    margin: auto;
    background-color: #4E4D5C;
    margin-bottom: -2px;
    z-index: 3;
  }

  & .bottom {
    border: black 2px solid;
    flex-basis: 6px;
    box-sizing: border-box;
    background-color: #4E4D5C;

    & .glistening-window-sill {
      width: 50%;
      height: 1px;
      background-color: #A4A1BC;
      margin-left: 3px;
    }
  }

  & .under {
    width: 84%;
    border-bottom: black 2px solid;
    border-right: black 2px solid;
    border-left: black 2px solid;
    flex-basis: 3px;
    box-sizing: border-box;
    margin: auto;
    background-color: #4E4D5C;
    margin-top: -2px;
  }
}
