.frame {
  border: black 3px solid;
  height: 400px;
  width: 800px;
  display: flex; }

.sky {
  background-image: linear-gradient(#950064 6%, #EA6531 35%, white 74%); }

.skyline-frame {
  height: 100%;
  flex-grow: 1; }

.building-wall {
  background-color: #A4A1BC;
  height: 100%;
  flex-basis: 43%;
  flex-grow: 0;
  border-left: #323044 6px solid;
  display: flex;
  flex-wrap: wrap; }

.building-edge {
  background-color: #85839B;
  flex-basis: 9px;
  border-left: #323044 1px solid; }

.window {
  height: 55px;
  width: 55px;
  display: flex;
  flex-direction: column;
  margin: 10px 0 40px 50px; }
  .window .top {
    border: black 2px solid;
    flex-basis: 6px;
    box-sizing: border-box;
    background-color: #4E4D5C; }
  .window .middle {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .window .middle .edge {
      background-color: #9691AB;
      border-left: black 2px solid;
      border-right: black 2px solid;
      flex-basis: 11%;
      box-sizing: border-box; }
    .window .middle .pane {
      background-color: #4F4C6F;
      flex-basis: 67%;
      border-top: #2E2C41 4px solid;
      border-right: #2E2C41 1px solid;
      border-left: #2E2C41 2px solid;
      overflow: hidden; }
      .window .middle .pane .reflection {
        height: 4px;
        background-image: linear-gradient(transparent, #9B97B3);
        margin-top: 3px;
        transform: skewY(-45deg); }
      .window .middle .pane .reflection:nth-last-child(1) {
        margin-top: 20px;
        height: 8px; }
  .window .over {
    width: 93%;
    border-top: black 2px solid;
    border-right: black 2px solid;
    border-left: black 2px solid;
    flex-basis: 3px;
    box-sizing: border-box;
    margin: auto;
    background-color: #4E4D5C;
    margin-bottom: -2px;
    z-index: 3; }
  .window .bottom {
    border: black 2px solid;
    flex-basis: 6px;
    box-sizing: border-box;
    background-color: #4E4D5C; }
    .window .bottom .glistening-window-sill {
      width: 50%;
      height: 1px;
      background-color: #A4A1BC;
      margin-left: 3px; }
  .window .under {
    width: 84%;
    border-bottom: black 2px solid;
    border-right: black 2px solid;
    border-left: black 2px solid;
    flex-basis: 3px;
    box-sizing: border-box;
    margin: auto;
    background-color: #4E4D5C;
    margin-top: -2px; }
